Hello again!

<form>
  <div>
    <label for="firm_name_box">
      Firm:
    </label>
    <input placeholder="Please don't abbreviate!" type="text" id="firm_name_box" name="query_firm_name"></textarea>
  </div>
  <button>
    Create Account!
  </button>
</form>
