<h1>
Find your next temporary home!
</h1>

<h3>
Where are you going?
</h3>

<p> Specify any number of search criteria:</p>
<div> Region:
<strong style="color:DodgerBlue;"> insert drop-down list here</strong>
</div>
<br>
<div> State: 
<strong style="color:DodgerBlue;"> insert drop-down list here</strong>
</div>
<br>
<div> City: 
<strong style="color:DodgerBlue;"> insert drop-down list here</strong>
</div>
<br>
<div> Firm: 
<strong style="color:DodgerBlue;"> insert drop-down list here</strong>
</div>
<br>
<div> School: 
<strong style="color:DodgerBlue;"> insert drop-down list here</strong>
</div>
<br>
<div> Distance from somewhere: 
<strong style="color:DodgerBlue;"> insert from for a user-defined string input for an address here</strong>
<strong style="color:DarkSeaGreen;"> insert drop-down list or transportation methods here</strong>
</div>
