<h1>
Welcome to Subletter!
</h1>

<h3>
A high trust marketplace for high-quality people.
</h3>

<ul>
  <li>
    <a href="/find_listing">
      Find a sublet!
    </a>
  <li>
    <a href="/initiate_listing">
      Post a sublet!
    </a>
  </li>
</ul> 
